body {
    position: relative;
    background-color: #000;
    color: #fff;
    font-size: 100px;
}

.video-background {
    position: relative;
    overflow: hidden;
    height: 100px;
    display: inline-block;
}

.myVideo {
    position: absolute;
}


.background1 {
    width: 700px;
}

.background2 {
    width: 500px;
}

.background3 {
    width: 600px;
}

.background4 {
    width: 1000px;
}